.dashboard-container {
    display: flex;
    gap: 20px;
}



/* MAIN */
.main {
    flex: 1;
}

/* Welcome */
.welcome {
    font-size: 26px;
    margin-bottom: 15px;
}

/* Stats */
.stats-box {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.stat-card {
    flex: 1;
    text-align: center;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
}

    .stat-card h3 {
        font-size: 30px;
        color: #0066ff;
    }

/* Lists */
.section-title {
    font-size: 22px;
    margin: 25px 0 10px;
}

.recent-list, .suggested-list {
    display: flex;
    gap: 15px;
}

.recent-card, .hotel-card {
    background: #fff;
    padding: 18px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.btn-view {
    display: inline-block;
    padding: 8px 12px;
    background: #0066ff;
    color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    text-decoration: none;
}
