.dashboard-container {
    display: flex;
    gap: 20px;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    height: fit-content;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.side-title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

.side-link {
    display: block;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

    .side-link:hover,
    .active {
        background: #0066ff;
        color: #fff !important;
    }

.side-logout {
    width: 100%;
    background: #cc0000;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
}

/* MAIN */
.main {
    flex: 1;
}

/* Welcome */
.welcome {
    font-size: 26px;
    margin-bottom: 15px;
}

/* Stats */
.stats-box {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.stat-card {
    flex: 1;
    text-align: center;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
}

    .stat-card h3 {
        font-size: 30px;
        color: #0066ff;
    }

/* Lists */
.section-title {
    font-size: 22px;
    margin: 25px 0 10px;
}

.recent-list, .suggested-list {
    display: flex;
    gap: 15px;
}

.recent-card, .hotel-card {
    background: #fff;
    padding: 18px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.btn-view {
    display: inline-block;
    padding: 8px 12px;
    background: #0066ff;
    color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    text-decoration: none;
}
