.hotel-header {
    margin-bottom: 20px;
}

    .hotel-header h2 {
        font-size: 32px;
        font-weight: 700;
    }

.location {
    color: #003580;
    font-size: 16px;
}

.hotel-container {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 30px;
}

.details-section {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.rooms-section {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.room-card {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.room-info h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

.btn-book {
    background: #003580;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
}

    .btn-book:hover {
        background: #002960;
    }
.room-type {
    background: #003580;
    color: #fff;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 13px;
}
