.title {
    font-size: 30px;
    margin-bottom: 25px;
}

.hotel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 25px;
}

.hotel-card {
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform .2s;
}

    .hotel-card:hover {
        transform: scale(1.02);
    }

.hotel-img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.hotel-info {
    padding: 15px;
    font-family: 'Segoe UI';
}

.location {
    color: #003580;
    font-weight: 500;
    margin-bottom: 10px;
}

.desc {
    color: #444;
    font-size: 14px;
    margin-bottom: 15px;
}

.btn-view {
    display: inline-block;
    padding: 10px 18px;
    background: #003580;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
}

    .btn-view:hover {
        background: #002960;
    }
