.dashboard-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 240px;
    background: #1d1f27;
    color: white;
    padding: 30px 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

    .sidebar .logo {
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .sidebar .menu {
        list-style: none;
        padding: 0;
    }

        .sidebar .menu li {
            margin-bottom: 18px;
        }

        .sidebar .menu a {
            color: #ddd;
            text-decoration: none;
            font-size: 16px;
            transition: 0.2s;
        }

            .sidebar .menu a:hover {
                color: #fff;
            }

.logout-btn {
    background: transparent;
    border: none;
    color: #f56565;
    font-size: 16px;
    cursor: pointer;
}

.main-content {
    margin-left: 250px; /* space for sidebar */
    padding: 25px;
    width: calc(100% - 250px);
}
