.auth-container {
    max-width: 420px;
    margin: 50px auto;
    padding: 35px;
    background: #ffffff;
    border-radius: 18px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', sans-serif;
}

.auth-title {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.form-control {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.btn-auth {
    background: #0071c2; /* Booking blue */
    padding: 12px;
    color: #fff;
    width: 100%;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

    .btn-auth:hover {
        background: #005fa3;
    }

.auth-link {
    text-align: center;
    margin-top: 15px;
    display: block;
}

.text-danger {
    font-size: 14px;
}
